<% if e.errors.any? %>
  <h3><%= e.errors.count %> errors prohibited this obj from being saved:</h3>
  <ul>
    <% e.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>